
<div class="registration-header">
    <div class="container">
        <span class="services">Residential & Commercial Services</span>
        <div class="account-links pull-right">
            @*<a href="#">Register</a>
            <span class="seprator">|</span>
            <a href="#">Log In</a>*@
            <a href="#" class="fa fa-facebook"></a>
            <a href="https://www.linkedin.com/company/lifferth-appraisal-company" target="_blank" class="fa fa-linkedin"></a>
            <a href="tel:+1-801-547-9700" class="fa fa-phone"></a>
            <a href="mailto:info@appraiseutah.com" class="fa fa-envelope-o"></a>

        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
            <a href="@Url.Action("Index", "Home")" class="logo"><span>Lifferth-Lawson Appraisal Company</span></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @*<li class="nav-logo">
                    <a href="@Url.Action("Index", "Home")" class="logo"><span>appraise utah</span></a>
                </li>*@
                @*@BuildLink("Home", "Index", @"<span class=""glyphicon glyphicon-home""></span>")*@
                @BuildLink("Home", "services-and-fees", "Fees", "and services")
                @BuildLink("Home", "service-area", "Area", "served")
                @BuildLink("Appraisal", "Index", "Order", "New Appraisal")
                @BuildLink("Home", "about-us", "About", "our company")
            </ul>
        </div>
    </div>
</nav>



@helper BuildLink(string controller, string action, string text)
{

    var link = new System.UriBuilder(Request.Url.AbsoluteUri) { Path = Url.Action(action, controller) }.Uri;
    var currentPage = Request.Url;
    var active = "";

    if (link.AbsoluteUri == currentPage.AbsoluteUri)
    {
        active = "active";
    }
    else if (currentPage.AbsolutePath == "/" && (controller.ToLower() == "home" && action.ToLower() == "index"))
    {
        // Home page
        active = "active";
    }
        //<li><a href="#">Link</a></li>
    <li class="@active">
        <a href="@Url.Action(action, controller)">@Html.Raw(text)</a>
    </li>

}

@helper BuildLink(string controller, string action, string mainText, string subText)
{
    @BuildLink(controller, action, @"<span class=""text"">" + mainText + @"</span><span class=""sub-text"">" + subText + "</span>");
}




