<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppraiseUtah.com @(!String.IsNullOrEmpty(ViewBag.Title) ? " - " + ViewBag.Title : String.Empty)</title>
    @Styles.Render("~/css/main")
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400|Open+Sans:300,400|Lora:400,400italic,700,700italic">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    @Styles.Render("~/css/social")
    @RenderSection("htmlhead", required: false)

    @*@Scripts.Render("~/js/modernizr")*@

</head>
<body>
    <div id="pageContainer">
        @{Html.RenderPartial("_Navigation");}

        <div id="body" class="container">
            @{
                var currentController = ViewContext.RouteData.Values["Controller"].ToString();
                var currentAction = ViewContext.RouteData.Values["Action"].ToString();
                bool isHomePage = string.Equals(currentController, "Home", StringComparison.OrdinalIgnoreCase) && string.Equals(currentAction, "Index", StringComparison.OrdinalIgnoreCase) ? true : false;

                Html.RenderPartial("_Address", new ViewDataDictionary { { "IsHomePage", isHomePage }});
            }

            @RenderBody()
        </div>

    </div>
    <footer id="footer">
        <div class="footer-banner">
            <div class="container footer-text">
                <span class="serving">Serving Northern Utah Since 1975</span>
                @Html.ActionLink("About Us", "about-us", "Home", null, new { @class = "btn btn-default btn-green" })
            </div>
        </div>

        <div class="container" id="footerContent">
            <p>&copy; @DateTime.Now.Year AppraiseUtah.com</p>
        </div>
    </footer>

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/lib")

    @Scripts.Render("~/js/main")

    @RenderSection("PageScripts", false)
</body>
</html>
